<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <th>Service Name</th>
                    <th>Token</th>
                    <th>Action</th>
                </thead>

                <tbody>
                    <% @services.each do |service|%>
                        <tr>
                            <td><%= service["name"] %></td>
                            <td><%= service["authorization_token"] %></td>
                            <td>
                                <a href="/namespace/<%= service["name"] %>">
                                    View Namespaces
                                </a>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
