<div class="row">
  <div class="col-md-12">
    <div class="row dashboard-default flex-column justify-content-center align-items-center">
      <img src="<%= image_url('reuni-logo.png') %>" class="dashboard-logo" alt="">
      <h1>Re:uni</h1>
    </div>
  </div>
</div>