/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .text-center {
     text-align: center;
 }


.navbar-brand {
    margin-right: 0!important;
}

.navbar-toggler{
    position: absolute;
    right: 10px;
    top:10px;
}
* {
    transition: 0.3s ease-in-outs;
}
.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=FFFFFF');
    background-size: 20px;
    align-self: center;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar {
    margin-bottom: 15px;
}

.sidebar {
    border-right: 1px solid #00A000;
}

.navbar-brand img {
    width: 30px;
}



.color-disabled {
    filter: grayscale(1);
    opacity: 0.5;
}

a {
    text-decoration:  none!important;
    color: inherit;
}

.list-group-item.active {
    background: #00C851 !important;
    border-color: #00C851 !important;
    color: white !important;
}