// Place all the styles related to the Logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.navbar-brand {
  img {
    width: 30px;
  }
}

.login-logo{
  width: 45px;
  margin-left: -45px;
}


.navbar {
  background-color: #30A030;
  min-height: 50px;
  @media screen and (min-width: 767px) {
    height: 50px;
  }
}
