// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: #30A030;
  min-height: 50px;
  @media screen and (min-width: 767px) {
    height: 50px;
  }
}
